<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tugas_minggu_2">
  <test name="Sequential and Parallel Test" parallel="classes" thread-count="2">
    <classes>
      <class name="com.juaracoding.ecom.test1"></class>
      <class name="com.juaracoding.ecom.test2"></class>
    </classes>
  </test>


</suite>